.login-left {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}
.main-content {
  margin-left: 220px;      
  padding: 1.5rem;
  min-height: calc(100vh - 56px); 
}
.input-icon {
  position: relative;
}

.input-icon svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #6c757d;
  font-size: 14px;
}

.input-icon input {
  padding-left: 38px;
}


@media (max-width: 768px) {
  .main-content {
    margin-left: 70px;   
  }
}
