.login-left {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}
.main-content {
  margin-left: 220px;      
  padding: 1.5rem;
  min-height: calc(100vh - 56px); 
}


@media (max-width: 768px) {
  .main-content {
    margin-left: 70px;   
  }
}
